infra/insights.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: >
  Insights pipeline for bdo-market-insights: daily digest computation,
  LLM narrative summarisation (Bedrock Converse), deterministic fallback,
  and upsert into market_summary.
  Step Functions state machine (ComputeDigest -> Summarize -> StoreSummary)
  with an EventBridge daily schedule.

Parameters:
  Stage:
    Type: String
    AllowedValues: [dev, prod]
  BdoRegion:
    Type: String
    Description: BDO server region for the daily insights schedule input
  LambdaSecurityGroupId:
    Type: AWS::EC2::SecurityGroup::Id
    Description: SG for in-VPC Lambdas (egress to RDS)
  PrivateSubnetA:
    Type: AWS::EC2::Subnet::Id
    Description: Primary private subnet; in-VPC Lambdas run here only (ADR-0011)
  RdsEndpoint:
    Type: String
    Description: RDS Postgres endpoint address
  RdsPort:
    Type: String
    Description: RDS Postgres port
  LambdaRdsAuthRoleArn:
    Type: String
    Description: Execution role for in-VPC Lambdas (VPC + X-Ray + rds-db:connect)
  CommonLayerArn:
    Type: String
    Description: ARN of the shared bdo-common Lambda layer (from the ETL stack)
  BedrockModelId:
    Type: String
    Default: 'us.amazon.nova-lite-v1:0'
    Description: >
      Bedrock model/inference-profile ID used to invoke Converse. The default is
      a cross-region (CRIS) inference profile; see BedrockFoundationModelId.
  BedrockFoundationModelId:
    Type: String
    Default: 'amazon.nova-lite-v1:0'
    Description: >
      Underlying foundation-model ID that BedrockModelId routes to, used only to
      scope IAM. When BedrockModelId is a cross-region inference profile (e.g.
      us.amazon.nova-lite-v1:0), invoking it requires permission on both the
      inference-profile ARN and the foundation-model ARN. Keep in sync with
      BedrockModelId (strip the region prefix).
  InsightsAlarmEmail:
    Type: String
    Default: ''
    Description: Optional email subscribed to the insights SNS topic (blank = no subscription)

Conditions:
  HasInsightsEmail: !Not [!Equals [!Ref InsightsAlarmEmail, '']]

Globals:
  Function:
    Runtime: python3.12
    Timeout: 30
    MemorySize: 256
    Tracing: Active
    Layers:
      - !Ref CommonLayerArn
    Environment:
      Variables:
        STAGE: !Ref Stage
        BDO_REGION: !Ref BdoRegion
        POWERTOOLS_SERVICE_NAME: bdo-market-insights
        POWERTOOLS_METRICS_NAMESPACE: BdoMarket

Resources:
  # ──────────────────────────────────────────────
  # Insights functions — in VPC (RDS via IAM auth)
  # ──────────────────────────────────────────────
  InsightsComputeFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub 'bdo-${Stage}-insights-compute'
      CodeUri: ../src/functions/insights_compute
      Handler: app.handler
      Timeout: 60
      Role: !Ref LambdaRdsAuthRoleArn
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroupId
        SubnetIds:
          - !Ref PrivateSubnetA
      Environment:
        Variables:
          DB_HOST: !Ref RdsEndpoint
          DB_PORT: !Ref RdsPort
          DB_NAME: bdo
          DB_USER: lambda_rds_user
          USE_IAM_AUTH: 'true'

  InsightsStoreFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub 'bdo-${Stage}-insights-store'
      CodeUri: ../src/functions/insights_store
      Handler: app.handler
      Role: !Ref LambdaRdsAuthRoleArn
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroupId
        SubnetIds:
          - !Ref PrivateSubnetA
      Environment:
        Variables:
          DB_HOST: !Ref RdsEndpoint
          DB_PORT: !Ref RdsPort
          DB_NAME: bdo
          DB_USER: lambda_rds_user
          USE_IAM_AUTH: 'true'

  # ──────────────────────────────────────────────
  # Summarize function — out of VPC (Bedrock)
  # ──────────────────────────────────────────────
  InsightsSummarizeRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub 'bdo-${Stage}-insights-summarize-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: XRayWrite
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - xray:PutTraceSegments
                  - xray:PutTelemetryRecords
                Resource: '*'
        - PolicyName: BedrockConverse
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              # Invoking a cross-region inference profile requires permission on
              # BOTH the inference-profile ARN (account-scoped, in the source
              # region) AND the foundation-model ARN it routes to (service-owned,
              # region wildcard covers the profile's destination regions). A
              # foundation-model-only grant would be denied for a CRIS profile.
              - Effect: Allow
                Action:
                  - bedrock:Converse
                  - bedrock:InvokeModel
                Resource:
                  - !Sub 'arn:aws:bedrock:${AWS::Region}:${AWS::AccountId}:inference-profile/${BedrockModelId}'
                  - !Sub 'arn:aws:bedrock:*::foundation-model/${BedrockFoundationModelId}'

  InsightsSummarizeFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub 'bdo-${Stage}-insights-summarize'
      CodeUri: ../src/functions/insights_summarize
      Handler: app.handler
      Timeout: 60
      Role: !GetAtt InsightsSummarizeRole.Arn
      Environment:
        Variables:
          BEDROCK_MODEL_ID: !Ref BedrockModelId

  # ──────────────────────────────────────────────
  # SNS topic for insights notifications
  # ──────────────────────────────────────────────
  InsightsNotificationTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub 'bdo-${Stage}-insights'
      DisplayName: !Sub 'bdo-${Stage} insights notifications'

  InsightsEmailSubscription:
    Type: AWS::SNS::Subscription
    Condition: HasInsightsEmail
    Properties:
      TopicArn: !Ref InsightsNotificationTopic
      Protocol: email
      Endpoint: !Ref InsightsAlarmEmail

  # ──────────────────────────────────────────────
  # Discord notifier — out of VPC, SNS-triggered
  # ──────────────────────────────────────────────
  InsightsDiscordRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub 'bdo-${Stage}-insights-discord-role'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: XRayWrite
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - xray:PutTraceSegments
                  - xray:PutTelemetryRecords
                Resource: '*'
        - PolicyName: SsmDiscordWebhook
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ssm:GetParameter
                Resource: !Sub 'arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/bdo/${Stage}/discord-webhook'

  InsightsDiscordFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub 'bdo-${Stage}-insights-discord'
      CodeUri: ../src/functions/insights_discord
      Handler: app.handler
      Timeout: 30
      Role: !GetAtt InsightsDiscordRole.Arn
      Events:
        InsightsSns:
          Type: SNS
          Properties:
            Topic: !Ref InsightsNotificationTopic

  # ──────────────────────────────────────────────
  # Step Functions state machine (daily insights)
  # ──────────────────────────────────────────────
  InsightsStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub 'bdo-${Stage}-insights'
      Type: STANDARD
      Tracing:
        Enabled: true
      DefinitionSubstitutions:
        InsightsComputeArn: !GetAtt InsightsComputeFunction.Arn
        InsightsSummarizeArn: !GetAtt InsightsSummarizeFunction.Arn
        InsightsStoreArn: !GetAtt InsightsStoreFunction.Arn
        InsightsTopicArn: !Ref InsightsNotificationTopic
      Policies:
        - LambdaInvokePolicy:
            FunctionName: !Ref InsightsComputeFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref InsightsSummarizeFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref InsightsStoreFunction
        - SNSPublishMessagePolicy:
            TopicName: !GetAtt InsightsNotificationTopic.TopicName
      Events:
        DailyInsights:
          Type: Schedule
          Properties:
            Schedule: cron(0 1 * * ? *)
            Input: !Sub '{"region": "${BdoRegion}", "period": "daily"}'
            Description: Daily market insights generation (~01:00 UTC)
        WeeklyInsights:
          Type: Schedule
          Properties:
            Schedule: cron(15 1 ? * MON *)
            Input: !Sub '{"region": "${BdoRegion}", "period": "weekly"}'
            Description: Weekly market insights generation (Monday ~01:15 UTC)
      Definition:
        Comment: BDO market insights (digest + narrative + store; daily & weekly)
        StartAt: ComputeDigest
        States:
          ComputeDigest:
            Type: Task
            Resource: '${InsightsComputeArn}'
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2
            Next: Summarize
          Summarize:
            Type: Task
            Resource: '${InsightsSummarizeArn}'
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2
            Catch:
              - ErrorEquals:
                  - States.ALL
                ResultPath: $.error
                Next: StoreSummary
            Next: StoreSummary
          StoreSummary:
            Type: Task
            Resource: '${InsightsStoreArn}'
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2
            Next: PublishNotification
          PublishNotification:
            Type: Task
            Resource: 'arn:aws:states:::sns:publish'
            Parameters:
              TopicArn: '${InsightsTopicArn}'
              Message.$: >-
                States.JsonToString($)
            End: true

Outputs:
  InsightsStateMachineArn:
    Value: !Ref InsightsStateMachine
    Export:
      Name: !Sub '${AWS::StackName}-InsightsStateMachineArn'

  InsightsNotificationTopicArn:
    Value: !Ref InsightsNotificationTopic
    Export:
      Name: !Sub '${AWS::StackName}-InsightsNotificationTopicArn'
